<div class="container">
  <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g">
        <div class="ui-g-12">
          <h2>Geração de Aplicação a partir de Modelo de Monitoramento</h2>
        </div>
        <div class="ui-g-4 ui-fluid">
          <label style="display: block">Escolha um modelo de Monitoramento: </label>
          <p-dropdown [options]="MonitoramentoTemplate" name="MonitoramentoTemplate" placeholder="Selecione"
            [(ngModel)]="appmonitoramentoSalvar.cdTemplate.cdTemplate" [style]="{'width':'370px'}"></p-dropdown>
        </div>
        <div class="ui-g-8 ui-fluid">
          <br />
          <button type="button" style="width: 200px" pButton label="Buscar" (click)="pesquisarPorModelo()">
          </button>
        </div>
        <div class="ui-g-4 ui-fluid">
          <label style="display: block">Tipo de Verificador: </label>
          <p-dropdown [options]="tipodevirificador" name="tipodevirificador" placeholder="Selecione"
            [(ngModel)]="appmonitoramentoSalvar.cdTipoDeVerificador.cdTipoDeVerificador" [style]="{'width':'370px'}">
          </p-dropdown>
        </div>
        <div class="ui-g-4 ui-fluid">
          <label style="display: block">Quantidade de Verificadores: </label>
          <input type="text" name="qtdVerificadores" [(ngModel)]="appmonitoramentoSalvar2.qtd" pInputText readonly />
        </div>

        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Defina o nome do Monitoramento: </label>
          <input type="text" name="nmmonitoramento" pInputText [(ngModel)]="appmonitoramentoSalvar.nmMonitoramento" />
        </div>
        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Local onde será aplicado o Monitoramento: </label>
          <input type="text" name="txlocal" pInputText [(ngModel)]="appmonitoramentoSalvar.txLocal" />
        </div>
        <div class="ui-g-2 ui-fluid">
          <label style="display: block">Data de Criação: </label>
          <p-calendar name="dtcriacao" [(ngModel)]="appmonitoramentoSalvar.dtCriacao" dateFormat="dd/mm/yy"
            [showIcon]="true"></p-calendar>
        </div>
        <div class="ui-g-3 ui-fluid">
          <label>Empresa</label>
          <!--<p-dropdown name="empresa" [options]="empresas" [autoWidth]="false"  [(ngModel)]="amostragemSalvar.cdEmpresa.cdEmpresa" required></p-dropdown>-->

          <p-selectButton name="empresa" [options]="empresas" [(ngModel)]="appmonitoramentoSalvar.cdEmpresa.cdEmpresa">
          </p-selectButton>
        </div>
        <div class="ui-g-5 ui-fluid">
        </div>
        <div class="ui-g-2 ui-fluid">
          <br>
          <button pButton type="submit" label="Gerar nova Aplicação" class="ui-button-raised ui-button-success"
            [disabled]="!appmonitoramentoSalvar.nmMonitoramento"></button>

        </div>
      </div>
    </form>

  </p-card>
</div>