<div class="container">
  <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g">
        <div class="ui-g-12">
          <h2>Verificadore do Monitoramento</h2>
        </div>
        <div class="ui-g-4 ui-fluid">
          <label style="display: block">Escolha um modelo de Monitoramento: </label>
          <p-dropdown [options]="monitoramentos" name="monitoramentos" placeholder="Selecione"
             [style]="{'width':'370px'}"></p-dropdown>
        </div>
        <div class="ui-g-8 ui-fluid">
          <br />
          <button type="button" style="width: 200px" pButton label="Buscar" (click)="pesquisarPorModelo()">
          </button>
        </div>
        
      </div>
    </form>

  </p-card>
</div>