<div class="container">
  <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="adicionar(f)">
          <div class="ui-g">
              <div class="ui-g-12">
                  <h2>Adicionar Verificador ao Modelo</h2>
              </div>

              <div class="ui-g-4 ">
                <label style="display: block">Listar Verificadores do Tipo: </label>
                <p-dropdown name="cadTipoDeVerificadores" [style]="{'width':'340px'}" [options]="cadTipoDeVerificadores"
                  placeholder="Selecione" [showClear]="true">
                </p-dropdown>
              </div>
              <div class="ui-g-8 ">
                <br />
                <button type="button" style="width: 200px" pButton label="Buscar Verificadores"
                  (click)="pesquisar()"></button>
      
              </div>
              <div class="ui-g-4 ui-fluid">
                <label style="display: block">Escolha um modelo de Monitoramento: </label>
                <p-dropdown [options]="MonitoramentoTemplate" [style]="{'width':'340px'}" name="MonitoramentoTemplate" placeholder="Selecione"  [style]="{'width':'370px'}"></p-dropdown>
              </div>
              <div class="ui-g-4 ui-fluid">
                <label style="display: block">Verificador: </label>
                <p-dropdown [options]="verificadorM" [style]="{'width':'120px'}" name="verificadorM" placeholder="Selecione"  [style]="{'width':'370px'}"></p-dropdown>
              </div>
              

              
              <div class="ui-g-2 ui-fluid">
                  <br />
                  <button pButton type="button" label="Salvar" class="ui-button-raised ui-button-success"></button>
              </div>
             

              <div class="ui-g-2 ui-fluid">
                  <br />
                  <button pButton type="button" label="Adicionar" routerLink="/addverificadoresmodelo"></button>
              </div>

              <div *ngIf="editando" class="ui-g-2 ui-fluid ">
                  <br />
                  <h3><strong><a routerLink="/verificador_m">Sair da edição</a></strong></h3>
              </div>
          </div>
      </form>

      <div class="ui-g">
          <div class="ui-g-12">

              <p-table [value]="verificadorm" [paginator]="true" [rows]="10" [responsive]="true"
                  [totalRecords]="totalRecords">

                  <ng-template pTemplate="header">
                      <tr>
                          <th style="width: 70px">Cód. Ver.</th>
                          <th style="width: 70px">Cód. Alf.</th>
                          <th style="width: 70px">Graco. co. </th>
                          <th>Verificador</th>
                          <th style=" width: 140px"></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-verificador>
                      <tr>
                          <th>{{verificador.cdVerificador}}</th>
                          <th>{{verificador.codalfa}}</th>
                          <th>{{verificador.p01_graco}}</th>
                          <th style="text-align: left">{{verificador.nmverificador}}</th>
                          <th>
                              <a pButton icon="pi pi-pencil" pTooltip="Editar Verificador" tooltipPosition="top"
                                  [routerLink]="['/verificador_m', verificador.codigo]"></a>
                              <button pButton icon="pi pi-trash" style="margin-left: 10px"
                                  pTooltip="Excluir Verificador" tooltipPosition="top"></button>
                          </th>
                      </tr>
                  </ng-template>
              </p-table>

          </div>
      </div>
  </p-card>
</div>