<div class="container">
    <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">
        <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h2>Verificadores de Modelo {{ editando ? ' - Editando - ' : '' }}</h2>
                </div>

                <div class="ui-g-4 ui-fluid">
                    <label style="display: block">Tipo de Verificador </label>
                    <p-dropdown [options]="cadTipoDeVerificador" name="cadTipoDeVerificador" placeholder="Selecione"
                        [style]="{'width':'370px'}" [(ngModel)]="cdTipoDeVerificador">
                    </p-dropdown>
                </div>
                <div class="ui-g-8 ui-fluid">
                    <br />
                    <button type="button" style="width: 200px" pButton label="Modelos e Verificadores" (click)="pesquisarModelosPorTipo()">
                    </button>
                </div>
                <div class="ui-g-4 ui-fluid">
                    <label style="display: block">Escolha um modelo de Monitoramento: </label>
                    <p-dropdown [options]="MonitoramentoTemplate" name="MonitoramentoTemplate" placeholder="Selecione"
                        [style]="{'width':'370px'}" [(ngModel)]="cdTemplate">
                    </p-dropdown>
                </div>

                <div class="ui-g-8 ui-fluid">
                    <label style="display: block">Escolha um Verificador: </label>
                    <p-dropdown [options]="verificadorM" name="verificadorM" placeholder="Selecione"
                        [style]="{'width':'740px'}" [(ngModel)]="cdVerificador">
                    </p-dropdown>
                </div>
                
                
                



                <div class="ui-g-2 ui-fluid">
                    <br />
                    <button pButton type="button" label="Adicionar" routerLink="/addverificadoresmodelo"></button>
                </div>

                <div *ngIf="editando" class="ui-g-2 ui-fluid ">
                    <br />
                    <h3><strong><a routerLink="/verificador_m">Sair da edição</a></strong></h3>
                </div>
            </div>
        </form>

        <div class="ui-g">
            <div class="ui-g-12">
                <p-table [value]="verificadordomodelo" [paginator]="true" [rows]="10" [responsive]="true"
                    [totalRecords]="totalRecords">

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 70px">COD</th>
                            <th style="width: 70px">Codigo</th>
                            <th style="width: 150px">Alfanumérico</th>
                            <th style="width: 150px">Sigla</th>
                            <th style="margin-left: 10px">Descrição</th>
                            <th style=" width: 140px"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-verificadordomodelo>
                        <tr>
                            <th>{{verificadordomodelo.cdVeriMod}}</th>
                            <th>{{verificadordomodelo.cdVerificador}}</th>
                            <th>{{verificadordomodelo.codalfa}}</th>
                            <th>{{verificadordomodelo.sigla}}</th>
                            <th style="text-align: left">{{verificadordomodelo.nmVerificador}}</th>
                            <th>

                                <button pButton icon="pi pi-trash" style="margin-left: 10px"
                                    pTooltip="Excluir Este Verificador" tooltipPosition="top" class="ui-button-danger"
                                    (click)="confirmarExclusao(verificadordomodelo)"></button>
                            </th>

                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>

    </p-card>
</div>