<div class="container">
    <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">
        <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h2>Verificadores de Modelo {{ editando ? ' - Editando - ' : '' }}</h2>
                </div>

                  <div class="ui-g-4 ui-fluid">
                    <label style="display: block">Tipo de Verificador </label>
                    <p-dropdown [options]="cadTipoDeVerificador" name="cadTipoDeVerificador" placeholder="Selecione"
                        [style]="{'width':'370px'}" [(ngModel)]="verificadoresDoModeloSalvar.cdTipoDeVerificador.cdTipoDeVerificador">
                    </p-dropdown>
                </div>
                <div class="ui-g-8 ui-fluid">
                    <br />
                    <button type="button" style="width: 200px" pButton label="Modelos e Verificadores" (click)="pesquisarModelosPorTipo()">
                    </button>
                </div>
                
                <div class="ui-g-12 ui-fluid">
                    <label style="display: block">Escolha um Verificador: </label>
                    <p-dropdown [options]="verificadorM" name="verificadorM" placeholder="Selecione"
                        [style]="{'width':'1100px'}" filter="true" [(ngModel)]="verificadoresDoModeloSalvar.cdVerificador.codigo">
                    </p-dropdown>
                </div>

                <div class="ui-g-4 ui-fluid">
                    <label style="display: block">Escolha um modelo de Monitoramento: </label>
                    <p-dropdown [options]="MonitoramentoTemplate" name="MonitoramentoTemplate" placeholder="Selecione"
                        [style]="{'width':'370px'}" [(ngModel)]="verificadoresDoModeloSalvar.cdTemplate.cdTemplate">
                    </p-dropdown>
                </div>
                <div class="ui-g-8 ui-fluid">
                    <br />
                    <button type="button" style="width: 200px" pButton label="Listar Verificadores" (click)="pesquisarPorModelo()">
                    </button>
                  </div>
                

                <div class="ui-g-4 ui-fluid">
                    <label>Assunto: <strong><a routerLink="/modnivel1"> Editar</a></strong></label>
                    <p-dropdown name="modNivel1" [options]="modNivel1" placeholder="Selecione" [autoWidth]="false"
                      [(ngModel)]="verificadoresDoModeloSalvar.cdNivel1.cdNivel1" required></p-dropdown>
                  </div>
                  <div class="ui-g-8 ui-fluid">
                    <br />
                    <button type="button" style="width: 200px" pButton label="Buscar Etapa" (click)="pesquisarNivel2()">
                    </button>
                  </div>
          
          
                  <div class="ui-g-4 ui-fluid">
                    <label style="display: block">Etapa: <strong><a routerLink="/modnivel2">Editar</a></strong></label>
                    <p-dropdown name="modNivel2" [options]="modNivel2" placeholder="Selecione" [autoWidth]="false"
                      [(ngModel)]="verificadoresDoModeloSalvar.cdNivel2.cdNivel2" [showClear]="true" required></p-dropdown>
                  </div>

                  <div class="ui-g-8 ui-fluid">
                    <br />
                    <button type="button" style="width: 200px" pButton label="Buscar Ítem" (click)="pesquisarNivel3()">
                    </button>
                  </div>
          
                  <div class="ui-g-4 ui-fluid">
                    <label style="display: block">Ítem: <strong><a routerLink="/modnivel2">Editar</a></strong></label>
                    <p-dropdown name="modNivel3" [options]="modNivel3" placeholder="Selecione" [autoWidth]="false"
                      [(ngModel)]="verificadoresDoModeloSalvar.cdNivel3.cdNivel3" [showClear]="true" required></p-dropdown>
                  </div>
                  
                  <div class="ui-g-8 ui-fluid">
                    <br />
                    <button type="button" style="width: 200px" pButton label="Buscar SubÍtem" (click)="pesquisarNivel4()">
                    </button>
                  </div> 
                  <div class="ui-g-4 ui-fluid">
                    <label style="display: block">SubÍtem: <strong><a routerLink="/modnivel2">Editar</a></strong></label>
                    <p-dropdown name="modNivel4"  [style]="{'width':'370px'}" [options]="modNivel4" placeholder="Selecione" [autoWidth]="false"
                      [(ngModel)]="verificadoresDoModeloSalvar.cdNivel4.cdNivel4" [showClear]="true" required></p-dropdown>
                  </div>
                  <div class="ui-g-8 ui-fluid">
                    
                    <div class="ui-g-12 ui-fluid">
                        <p-checkbox name="groupname" value="val1" [(ngModel)]="groupname" label="Coleta de dados Analíticos"> eee </p-checkbox>
                      </div>
                      <div class="ui-g-12 ui-fluid">
                          <p-checkbox name="groupname" value="val2" [(ngModel)]="groupname" label="Coleta de dados Agrupados"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g-6 ui-fluid">
                        <label style="display: block">Definição de Coleta Análitica: </label>
                        <input type="text" name="coletaAnalitica" pInputText [(ngModel)]="verificadoresDoModeloSalvar.txColetaAnalitica" />  
                    </div> 
                    <div class="ui-g-6 ui-fluid">
                        <label style="display: block">Definição de Coleta Agrupada: </label>
                       <input type="text" name="coletaAgrupada" pInputText [(ngModel)]="verificadoresDoModeloSalvar.txColetaAgrupada" />
                    </div>    
               
                <div class="ui-g-2 ui-fluid">
                    <br />
                    <button pButton type="submit" label="Adicionar" ></button>
                </div>

                <div *ngIf="editando" class="ui-g-2 ui-fluid ">
                    <br />
                    <h3><strong><a routerLink="/verificador_m">Sair da edição</a></strong></h3>
                </div>
            </div>
        </form>

        <div class="ui-g">
            <div class="ui-g-12">
                <p-table [value]="verificadordomodeloTabela" [paginator]="true" [rows]="5" [responsive]="true"
                    [totalRecords]="totalRecords">

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 70px">COD</th>
                            <th style="width: 100px">Cod Verificador</th>
                            <th style="width: 150px">Alfanumérico</th>
                            <th style="width: 150px">Sigla</th>
                            <th style="margin-left: 10px">Descrição</th>
                            <th style=" width: 70px"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-verificadordomodelo>
                        <tr>
                            <td>{{verificadordomodelo.cdVeriMod}}</td>
                            <td>{{verificadordomodelo.cdVerificador.codigo}}</td>
                            <td>{{verificadordomodelo.cdVerificador.codalfa}}</td>
                            <td>{{verificadordomodelo.cdVerificador.cadNivelDeAvaliacao.sigla}}</td>
                            <td style="text-align: left">{{verificadordomodelo.cdVerificador.nmverificador}}</td>
                            <td>

                                <button pButton icon="pi pi-trash" style="margin-left: 10px"
                                    pTooltip="Excluir Este Verificador" tooltipPosition="top" class="ui-button-danger"
                                    class="ui-button-danger"   (click)="confirmarExclusao(verificadordomodelo)"></button>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>

    </p-card>
</div>