<div class="container">
  <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g">
        <div class="ui-g-12">
          <h2>Amostragem {{ editando ? ' - Editando - ' : '' }}</h2>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Código: </label>
          <input type="text" [readonly]="true" name="cdAmostragem" pInputText style="width: 50px"
            [(ngModel)]="amostragemSalvar.cdAmostragem" />
        </div>
        <div class="ui-g-3 ui-fluid">
          <label>Empresa</label>
          <p-dropdown name="empresa" [options]="empresas" [autoWidth]="false" placeholder= "Selecione a empresa" 
          [(ngModel)]="amostragemSalvar.cdEmpresa.cdEmpresa" required></p-dropdown>

      
        </div>
        <div class="ui-g-2 ui-fluid">
          <br />
          <button type="button" style="width: 200px" pButton label="Buscar Amostragem"
            (click)="pesquisar()"></button>

        </div>
        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Amostragem: </label>
          <input type="text" name="nmAmostragem" pInputText [(ngModel)]="amostragemSalvar.nmAmostragem" />
        </div>
        <div class="ui-g-2 ui-fluid">
          <br />
          <button pButton type="submit" label="Salvar" class="ui-button-raised ui-button-success"
            [disabled]="!amostragemSalvar.nmAmostragem"></button>
        </div>

        <div *ngIf="editando" class="ui-g-2 ui-fluid ">
          <br />
          <h3><strong><a routerLink="/cadamostragem">Sair da edição</a></strong></h3>

        </div>
      </div>
    </form>
    

    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="cadamostragem" [paginator]="true" [rows]=100 [responsive]="true" [lazy]="true"
          [totalRecords]="tatalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 120px">Codigo</th>
              <th>Empresa</th>
              <th>Amostragem</th>
              <th style=" width: 140px"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-amostragem>
            <tr>
              <th>{{amostragem.cdAmostragem}}</th>
              <th style="text-align: left">{{amostragem.cdEmpresa.nmEmpresa}}</th>
              <th style="text-align: left">{{amostragem.nmAmostragem}}</th>
              <th>
                <a pButton icon="pi pi-pencil" pTooltip="Editar Amostragem" tooltipPosition="top"
                  [routerLink]="['/cadamostragem', amostragem.cdAmostragem]"></a>
                <button pButton icon="pi pi-trash" style="margin-left: 10px" pTooltip="Excluir Amostragem"
                  tooltipPosition="top" (click)="confirmarExclusao(amostragem)"></button>
              </th>
            </tr>
          </ng-template>
        </p-table>

      </div>

    </div>


  </p-card>
</div>
