<div class="container">
  <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">

    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g">

        <div class="ui-g-12">
          <h2>Avaliação {{ editando ? ' - Editando - ' : '' }}</h2>
        </div>
        <div class="ui-g-4">
          <label style="display: block">Monitoramento: </label>
          <p-dropdown [options]="appmonitoramento" name="appmonitoramento" placeholder="Selecione"
            [style]="{'width':'320px'}" [(ngModel)]="appavaliacaoSalvar.cdMonitoramento.cdMonitoramento"></p-dropdown>

        </div>
        <div class="ui-g-8 ">
          <br />
          <button type="button" style="width: 200px" (click)="pesquisarMon()" pButton
            label="Escolher Monitoramento"></button>
        </div>
                
        <div class="ui-g-8 ui-fluid">
          <label style="display: block">Avaliação: </label>
          <input type="text" name="nmAvaliacao" [(ngModel)]="appavaliacaoSalvar.nmAvaliacao" pInputText />
        </div>
        <div class="ui-g-2 ui-fluid">
          <label style="display: block">Data Início </label>
          <p-calendar name="dtInicio" [(ngModel)]="appavaliacaoSalvar.dtInicio" dateFormat="dd.mm.yy" [showIcon]="true">
          </p-calendar>
        </div>
        <div class="ui-g-2 ui-fluid">
          <label style="display: block">Data Fim </label>
          <p-calendar name="dtFim" [(ngModel)]="appavaliacaoSalvar.dtFim" dateFormat="dd.mm.yy" [showIcon]="true">
          </p-calendar>
        </div>
      
        <div class="ui-g-2 ui-fluid">
          <br>
          <button pButton type="submit" label="Salvar" class="ui-button-raised ui-button-success"
            [disabled]="!appavaliacaoSalvar.nmAvaliacao"></button>

        </div>
        <div *ngIf="editando" class="ui-g-2 ui-fluid ">
          <br />
          <h3><strong><a routerLink="/appavaliacao">Sair da edição</a></strong></h3>

        </div>


      </div>

    </form>
    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="appavaliacao" [paginator]="true" [rows]="10" [responsive]="true"
          [totalRecords]="totalRecords">

          <ng-template pTemplate="header">
            <tr>
              <th style="width: 70px">Codigo</th>
              <th>Cod. Monitoramento</th>
              <th>Avaliação</th>
              <th>Início</th>
              <th>Fim</th>
              <th style=" width: 110px"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-appavaliacao>
            <tr>
              <td>{{appavaliacao.cdAvaliacao}}</td>
              <td>{{appavaliacao.cdMonitoramento.nmMonitoramento}}</td>
              <td>{{appavaliacao.nmAvaliacao}}</td>
              <td>{{appavaliacao.dtInicio}}</td>
              <td>{{appavaliacao.dtFim}}</td>
              <!--<th style="text-align: left">{{material.nmMaterial}}</th>-->
              <td>
                <a pButton icon="pi pi-pencil" pTooltip="Editar Material" tooltipPosition="top"
                  [routerLink]="['/appavaliacao', appavaliacao.cdAvaliacao]"></a>
                <button pButton icon="pi pi-trash" style="margin-left: 10px" pTooltip="Excluir Avaliação"
                class="ui-button-danger" tooltipPosition="top" (click)="confirmarExclusao(appavaliacao)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>


  </p-card>
</div>