<div class="container">
  <p-card  [style]="{width: 'px'}" styleClass="ui-card-shadow">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="gerar(f)">
    <div class="ui-g">
        <div class="ui-g-12">
          <h2>Formulário de Coleta de Dados</h2>
        </div>
        <div class="ui-g-6 ui-fluid">
          <label style="display: block">Monitoramento: </label>
          <p-dropdown [options]="AppMonitoramento" name="AppMonitoramento" [(ngModel)]="cdTemplate" placeholder="Selecione" [style]="{'width':'500px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-fluid">
          <br>
          <button name="botaopesquisar" type="button" style="width: 150px" pButton label="Buscar Local"
            (click)="pesquisar()"></button>
        </div>
        <div class="ui-g-6 ui-fluid">
          <label style="display: block">Avaliação: </label>
          <p-dropdown [options]="avaliacao" name="avaliacao" placeholder="Selecione"  [style]="{'width':'500px'}"></p-dropdown>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Abrangência: </label>
          <p-dropdown [options]="cadtipodeverificador" name="cadtipodeverificador" placeholder="Selecione"  [style]="{'width':'250px'}"></p-dropdown>
        </div>

        <div class="ui-g-6">
          <br />
          <button pButton type="submit" label="Processar" (click)="gerar()" class="ui-button-raised ui-button-success" [style]="{'width':'100px'}"></button>
        </div>
        
    </div>
    </form>

    

  </p-card>
</div>
